
<div class="modal-header">
    <h3 class="modal-title">Scan Files</h3>
</div>
<div file-input class="modal-body">

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="scan()">Scan</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>

<!--<div id="scan-file-modal" title="Log In">-->
    <!--<p class="validate-tips">All form fields are required.</p>-->
    <!--<form>-->
        <!--<fieldset>-->
            <!--<div>-->
                <!--<label for="email">Email: </label>-->
                <!--<input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">-->
            <!--</div>-->
            <!--<div>-->
                <!--<label for="password">Password: </label>-->
                <!--<input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all">-->
            <!--</div>-->
            <!--<div>-->
                <!--<input type="submit" tabindex="-1"><button id="forgot-password">Forgot Password</button>-->
            <!--</div>-->

        <!--</fieldset>-->
    <!--</form>-->

<!--</div>-->